* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #010216;
}
img {
  width: 20%;
}
h1 {
  color: white;
  text-align: start;
  margin-left: 200px;
}
nav {
  background-color: #ddb602;
  margin-left: 200px;
  margin-right: 200px;
  text-align: end;
  margin-top: 20px;
  padding: 20px;
  transition: 1s;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px;
  transition: 0.5s;
}
nav a:hover {
  border: solid 3px white;
}
nav:hover {
  margin-top: 40px;
  box-shadow: 8px -8px 2px 1px #eece42dc;
}
main {
  text-align: center;
}
main p {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}
main h2 {
  margin: 20px;
  text-align: start;
  margin-left: 200px;
}
main button,
main a {
  margin: 10px;
  background-color: red;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-decoration: underline;
}

section {
  background-color: #00184c;
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 0.8rem;
}
.h2-table {
  margin-left: 25%;
}
th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  text-align: center;
}
td:nth-child(even) {
  width: 500px;
}
td:nth-child(odd) {
  width: 200px;
}
td:last-child {
  text-align: end;
}
aside {
  padding: 20px;
}
aside h2 {
  margin-left: 200px;
  margin-top: 20px;
}
aside ul {
  margin-left: 230px;
  margin-top: 20px;
}
aside a {
  text-decoration: none;
  color: rgb(3, 1, 8);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
  display: flex;
  justify-content: center;
}
footer {
  background-color: #ddb602;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  color: white;
}
